span(
	class=`
		bg-slimy-300/90
		border-0
		border-1
		border-penn-600
		leading-none
		mb-4
		opacity-90
		px-3
		py-3
		rounded
		text-15
		text-slimy-900
		transition-opacity
		whitespace-nowrap`hover:opacity-100`sm:inline-block
		sm:mb-0
		md:text-14`
	data-lorem="ipsum"
	id="test")