@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	[data-style="global-nav-item"] {
		@apply /* layout */
    block
    whitespace-nowrap

    /* opacity */
    opacity-[.85]
    hover:opacity-100
    group-hover:opacity-100
    group-focus-within:opacity-100

    /* color */
    text-white
    hover:text-slimy-300
    group-hover:text-slimy-300
    group-focus-within:text-slimy-300

    /* typography */
    leading-none

    /* outlines, borders, rings */
    rounded-sm;
	}
}
